{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">
    <link href="{% static 'fontawesome_free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'fontawesome_free/js/all.min.js' %}"></script>

    <title>Elucidate The Fates</title>
<!--
Elegance Template
https://templatemo.com/tm-528-elegance
-->
    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="https://liz-blog-bucket.s3-us-west-1.amazonaws.com/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="https://liz-blog-bucket.s3-us-west-1.amazonaws.com/css/font-awesome.css">

    <link rel="stylesheet" type="text/css" href="https://liz-blog-bucket.s3-us-west-1.amazonaws.com/css/fullpage.min.css">

    <link rel="stylesheet" type="text/css" href="https://liz-blog-bucket.s3-us-west-1.amazonaws.com/css/owl.carousel.css">

    <link rel="stylesheet" href="https://liz-blog-bucket.s3-us-west-1.amazonaws.com/css/animate.css">

    <link rel="stylesheet" href="https://liz-blog-bucket.s3-us-west-1.amazonaws.com/css/templatemo-style.css">

    <link rel="stylesheet" href="https://liz-blog-bucket.s3-us-west-1.amazonaws.com/css/responsive.css">

    </head>

    <body>

    <div id="video">
        <div class="preloader">
            <div class="preloader-bounce">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <header id="header">
            <div class="container-fluid" style="background-color: #19759c00; margin-top: -20px;">
                <div class="navbar">
                    <a href="#" id="logo" title="Elegance by TemplateMo">
                        ELUCIDATE THE FATES
                    </a>
                    <div class="navigation-row">
                        <nav id="navigation">
                            <button type="button" class="navbar-toggle"> <i class="fa fa-bars"></i> </button>
                            <div class="nav-box navbar-collapse">
                                <ul class="navigation-menu nav navbar-nav navbars" id="nav">
                                    <li data-menuanchor="slide01" class="active"><a href="#slide02">Home</a></li>
                                    <li data-menuanchor="slide02"><a href="#slide02">About me</a></li>
                                    <li data-menuanchor="slide03"><a href="#slide03">Services</a></li>
                                    <li data-menuanchor="slide04"><a href="#slide04">My Proficiencies</a></li>
                                    <li data-menuanchor="slide05"><a href="#slide05">My Blog</a></li>
                                    <li data-menuanchor="slide06"><a href="#slide06">Testimonials</a></li>
                                    <li data-menuanchor="slide07"><a href="#slide07">Contact Me</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>

        <video autoplay muted loop width="0" height="0" controls;>
          <source src="https://liz-blog-bucket.s3-us-west-1.amazonaws.com/liz.mp4" type="video/mp4">
        </video>
        <div id="fullpage" class="fullpage-default div-with-bg">


            <div class="section animated-row" data-section="slide01">
                <div class="section-inner">
                    <div class="welcome-box">
                        <span class="welcome-first animate" data-animate="fadeInUp" style="color:black;">Hello, welcome to</span>
                        <h1 class="welcome-title animate" data-animate="fadeInUp" style="color:black;">elucidate the fates</h1>
                        <p class="animate" data-animate="fadeInUp" style="color:black;">Would you like a map of prediction based on the date of your birth? Destiny Cards provide insight into transits of health, money, relationships, travel and more. Some periods are blessed, others require caution or introspection. Each person has the potential to predict certain patterns and adapt as necessary. It is comparable to checking the weather report- it is not perfectly predictable but close enough to be able to prepare with an umbrella or sunglasses.</p>
                        <div class="scroll-down next-section animate data-animate="fadeInUp""><img src="{% static 'images/mouse-scroll.png' %}" alt=""><span>Scroll Down</span></div>
                    </div>
                </div>
            </div>

            <div class="section animated-row" data-section="slide02">
                <div class="section-inner">
                    <div class="about-section">
                        <div class="row justify-content-center">
                            <div class="col-lg-8 wide-col-laptop">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="about-contentbox">
                                            <div class="animate" data-animate="fadeInUp">
                                                <span>About Me</span>
                                                <h2>Who am i?</h2>
                                                <div>
                                                    <p>My name is Elizabeth and I am here to serve as your interpreter and reflector to the keys that can unlock the mysteries of what is to come or what has been. I am committed to serving the highest good and doing what I can for the collective evolution of humanity. I believe we have tools already accessible within us from our first breath. We have our challenges, and we have solutions.
                                                    <br>
                                                    <br> Sometimes we require assistance from those who have dedicated their hearts to decoding the mysteries of the universe. I am honored to be among them.
                                                    <br>
                                                    <br>I have studied astrology and other forms of divination for over a decade. I am a Reiki practitioner as well as an energy healer. Self healing comes first so i may properly hold space and follow my duty. </p>
                                                </div>
                                            </div>
                                            <div class="facts-list owl-carousel">
                                                <div class="item animate" data-animate="fadeInUp">
                                                    <div class="counter-box">
                                                        <i class="fa fa-trophy counter-icon" aria-hidden="true"></i><span class="count-number">5</span> Training/Certificates
                                                    </div>
                                                </div>
                                                <div class="item animate" data-animate="fadeInUp">
                                                    <div class="counter-box">
                                                        <i class="fa fa-graduation-cap counter-icon" aria-hidden="true"></i><span class="count-number">2</span> Degrees
                                                    </div>
                                                </div>
                                                <div class="item animate" data-animate="fadeInUp">
                                                    <div class="counter-box">
                                                        <i class="fa fa-desktop counter-icon" aria-hidden="true"></i><span class="count-number">10</span> Working Years
                                                    </div>
                                                </div>
                                                <!-- <div class="item animate" data-animate="fadeInUp">
                                                    <div class="counter-box">
                                                        <i class="fa fa-support counter-icon" aria-hidden="true"></i><span class="count-number">6</span> Team Members
                                                    </div>
                                                </div>
                                                <div class="item animate" data-animate="fadeInUp">
                                                    <div class="counter-box">
                                                        <i class="fa fa-certificate counter-icon" aria-hidden="true"></i><span class="count-number">10</span> Certificates
                                                    </div>
                                                </div> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6" style="padding-top: 100px;">
                                        <figure class="about-img animate" data-animate="fadeInUp"><img src="https://liz-blog-bucket.s3-us-west-1.amazonaws.com/liz.jpg" class="rounded" alt=""></figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section animated-row" data-section="slide03">
                <div class="section-inner">
                    <div class="row justify-content-center">
                        <div class="col-md-8 wide-col-laptop">
                            <div class="title-block animate" data-animate="fadeInUp">
                                <span>Healing Offerings</span>
                                <h2>What Resonates?</h2>
                            </div>
                            <div class="services-section">
                                <div class="services-list owl-carousel">
                                    <div class="item animate" data-animate="fadeInUp">
                                        <div class="service-box">
                                            <!-- <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script> -->
                                            <span class="service-icon"><i class="fas fa-torii-gate" aria-hidden="true"></i></span>
                                            <h3>Destiny Cards Predictive Readings</h3>
                                            <p>6 months insight- $40
                                            <br>
                                            1 year insight- $60
                                            <br>
                                            <br>
                                            Specific date(s):
                                            <br>
                                            $10 for each requested date (past or future)
                                            </p>
                                        </div>
                                    </div>
                                    <div class="item animate" data-animate="fadeInUp">
                                        <div class="service-box">
                                            <span class="service-icon"><i class="fas fa-hamsa" aria-hidden="true"></i></span>
                                            <h3>   Astrological Insight    </h3>
                                            <br>
                                            <p>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Full Astrological Report- $50 &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</p>
                                        </div>
                                    </div>
                                    <div class="item animate" data-animate="fadeInUp">
                                        <div class="service-box">
                                            <span class="service-icon"><i class="fas fa-dharmachakra" aria-hidden="true"></i></span>
                                            <h3>Energy Healing</h3>
                                            <br>
                                            <p>&nbsp &nbsp &nbsp &nbsp &nbsp Chakra balancing and healing- $30 &nbsp &nbsp &nbsp &nbsp &nbsp </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section animated-row" data-section="slide04">
                <div class="section-inner">
                    <div class="row justify-content-center">
                        <div class="col-md-8 wide-col-laptop">
                            <div class="title-block animate" data-animate="fadeInUp">
                                <span>What I've learned</span>
                                <br>
                                <span>and am here to offer</span>
                            </div>
                            <style>
                                .grid-container {
                                  display: grid;
                                  grid-template-columns: auto auto auto auto;
                                  grid-gap: 10px;
                                  padding: 10px;
                                }
                            </style>
                            <div class="services-section">
                                <div class="grid-container">
                                    <div class="item animate" data-animate="fadeInUp">
                                        <div class="service-box">
                                            <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
                                            <span class="service-icon"><i class="fas fa-torii-gate" aria-hidden="true"></i></span>
                                            <h3>Reiki</h3>
                                        </div>
                                    </div>
                                    <div class="item animate" data-animate="fadeInUp">
                                        <div class="service-box">
                                            <span class="service-icon"><i class="fas fa-hamsa" aria-hidden="true"></i></span>
                                            <h3>Astrology</h3>
                                        </div>
                                    </div>
                                    <div class="item animate" data-animate="fadeInUp">
                                        <div class="service-box">
                                            <span class="service-icon"><i class="fab fa-creative-commons-share" aria-hidden="true"></i></span>
                                            <h3>Tarot</h3>
                                        </div>
                                    </div>
                                    <div class="item animate" data-animate="fadeInUp">
                                        <div class="service-box">
                                            <span class="service-icon"><i class="fas fa-globe-americas" aria-hidden="true"></i></span>
                                            <h3>Elemental Magic</h3>
                                        </div>
                                    </div>
                                    <div class="item animate" data-animate="fadeInUp">

                                    </div>
                                    <div class="item animate" data-animate="fadeInUp">
                                        <div class="service-box">
                                            <span class="service-icon"><i class="fas fa-dharmachakra" aria-hidden="true"></i></span>
                                            <h3>Manifestation Techniques</h3>
                                        </div>
                                    </div>
                                    <div class="item animate" data-animate="fadeInUp">
                                        <div class="service-box">
                                            <span class="service-icon"><i class="fab fa-creative-commons-share" aria-hidden="true"></i></span>
                                            <h3>Destiny Cards</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="section animated-row" data-section="slide06">
                <div class="section-inner">
                    <div class="row justify-content-center">
                        <div class="col-md-8 wide-col-laptop">
                            <div class="title-block animate" data-animate="fadeInUp">
                                <span>May we evolve and</span>
                                <br>
                                <span>share that which we have learned with others</span>
                            </div>
                            <!-- <div class="gallery-section"> -->
                                <!-- <img src="https://i.ibb.co/vV3fTbf/Pics-Art-04-11-11-41-09.jpg" alt="" style="padding-left: 100px; object-fit: cover; transform: rotate(270deg); height: 75%; width: 25%;"> -->
                                <!-- <div class="services-list owl-carousel">
                                    {% for post in post_list %}
                                    <div class="item animate" data-animate="fadeInUp" style="height: -10%; width: 65%;">
                                        <div class="portfolio-item">
                                        <div class="thumb" style="height: 100%; width: 100%;">
                                            <img src="https://liz-blog-bucket.s3-us-west-1.amazonaws.com/Magician.jpg" alt="">
                                        </div>
                                            <div class="thumb-inner animate" data-animate="fadeInUp">
                                                <h4 class="card-title">{{ post.title }}</h4>
                                                <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
                                                <p class="card-text">{{post.content|slice:":200" }}</p>
                                                <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary">Read More &rarr;</a>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div> -->
                                <!-- <br> -->
                                <div class="">
                                    <img src="https://i.ibb.co/vV3fTbf/Pics-Art-04-11-11-41-09.jpg" alt="" style="padding-left: 100px; background-position:center; transform: rotate(270deg); height: 75%; width: 25%; opacity: 0.75; z-index: -1;">
                                    <div class="" style="padding-bottom: 500px;">
                                        <!-- <a href="/" class="btn btn-primary">View All &rarr;</a> -->
                                        <a href="" class="btn btn-primary">Coming Soon</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            <div class="section animated-row" data-section="slide05">
                <div class="section-inner">
                    <div class="row justify-content-center">
                        <div class="col-md-8 wide-col-laptop">
                            <div class="title-block animate" data-animate="fadeInUp">
                                <span>TESTIMONIALS</span>
                                <h2>what THEY SAY?</h2>
                            </div>
                            <div class="col-md-8 offset-md-2">
                                <div class="testimonials-section">
                                    <div class="testimonials-slider owl-carousel">
                                        <div class="item animate" data-animate="fadeInUp">
                                            <div class="testimonial-item">
                                                <div class="client-row">
                                                    <img src="{% static 'images/profile-01.jpg' %}" class="rounded-circle" alt="profile 1">
                                                </div>
                                                <div class="testimonial-content">
                                                    <h4>Name Here</h4>
                                                    <p>"Thank you for your quick response and providing a very intuitive reading. Your feedback also did check with another session i had done by another trained psychic which i find most fascinating. Also you provided guidance on areas to work on. Very pleased with working with you."</p>
                                                    <span>Managing Director</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item animate" data-animate="fadeInUp">
                                            <div class="testimonial-item">
                                                <div class="client-row">
                                                    <p>Image Here</p>
                                                    <!-- <img src="{% static 'images/profile-01.jpg' %}" class="rounded-circle" alt="profile 2"> -->
                                                </div>
                                                <div class="testimonial-content">
                                                    <h4>Name Here</h4>
                                                    <p>"Totally worth the time and money, $50 bucks seemed like a lot of money but this totally helped affirm the direction of my whole year!  Hearing Lizzys personal terrot reading afterwards was fun to decompress the excitement of learning that I am headed in the right direction for 2020."</p>
                                                    <span>CEO and Founder</span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="item animate" data-animate="fadeInUp">
                                            <div class="testimonial-item">
                                                <div class="client-row">
                                                    <img src="images/profile-01.jpg" class="rounded-circle" alt="profile 3">
                                                </div>
                                                <div class="testimonial-content">
                                                    <h4>Marlar</h4>
                                                    <p>"Etiam efficitur, tortor facilisis finibus semper, diam magna fringilla lectus, et fringilla felis urna posuere tortor."</p>
                                                    <span>Chief Marketing Officer</span>
                                                </div>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section animated-row" data-section="slide07">
                <div class="section-inner">
                    <div class="row justify-content-center">
                        <div class="col-md-7 wide-col-laptop">
                            <div class="title-block animate" data-animate="fadeInUp">
                                <span>Contact</span>
                                <h2>Get In Touch!</h2>
                            </div>
                            <div class="contact-section">
                                <div class="row">
                                    <div class="col-md-6 animate" data-animate="fadeInUp">
                                        <div class="contact-box">
                                            <div class="contact-row">
                                                <i class="fa fa-map-marker"></i> Sonoma County, California
                                            </div>
                                            <div class="contact-row">
                                                <i class="fa fa-phone"></i> 760-424-2761
                                            </div>
                                            <div class="contact-row">
                                                <i class="fa fa-envelope"></i> ETheFates@gmail.com
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 animate" data-animate="fadeInUp">
                                        <form id="ajax-contact" method="post" action="#">
                                            <div class="input-field">
                                                <input type="text" class="form-control" name="name" id="name" required placeholder="Name">
                                            </div>
                                            <div class="input-field">
                                                <input type="email" class="form-control" name="email" id="email" required placeholder="Email">
                                            </div>
                                            <div class="input-field">
                                                <textarea class="form-control" name="message" id="message" required placeholder="Message"></textarea>
                                            </div>
                                            <button class="btn" type="submit">Submit</button>
                                        </form>
                                        <div id="form-messages" class="mt-3"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="social-icons">
            <div class="text-right">
                <ul class="social-icons">
                    <li><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#" title="Instagram"><i class="fa fa-behance"></i></a></li>
                </ul>
            </div>
        </div>
    </div>

    <script src="https://liz-blog-bucket.s3-us-west-1.amazonaws.com/js/jquery.js"></script>

    <script src="https://liz-blog-bucket.s3-us-west-1.amazonaws.com/js/bootstrap.min.js"></script>

    <script src="https://liz-blog-bucket.s3-us-west-1.amazonaws.com/js/fullpage.min.js"></script>

    <script src="https://liz-blog-bucket.s3-us-west-1.amazonaws.com/js/scrolloverflow.js"></script>

    <script src="https://liz-blog-bucket.s3-us-west-1.amazonaws.com/js/owl.carousel.min.js"></script>

    <script src="https://liz-blog-bucket.s3-us-west-1.amazonaws.com/js/jquery.inview.min.js"></script>

    <script src="https://liz-blog-bucket.s3-us-west-1.amazonaws.com/js/form.js"></script>

    <script src="https://liz-blog-bucket.s3-us-west-1.amazonaws.com/js/custom.js"></script>


  </body>
</html>
