{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">

    <title>Elegance - Creative HTML5 Template</title>
<!--
Elegance Template
https://templatemo.com/tm-528-elegance
-->
    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="https://liz-blog-bucket.s3-us-west-1.amazonaws.com/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="https://liz-blog-bucket.s3-us-west-1.amazonaws.com/css/font-awesome.css">

    <link rel="stylesheet" type="text/css" href="https://liz-blog-bucket.s3-us-west-1.amazonaws.com/css/fullpage.min.css">

    <link rel="stylesheet" type="text/css" href="https://liz-blog-bucket.s3-us-west-1.amazonaws.com/css/owl.carousel.css">

    <link rel="stylesheet" href="https://liz-blog-bucket.s3-us-west-1.amazonaws.com/css/animate.css">

    <link rel="stylesheet" href="https://liz-blog-bucket.s3-us-west-1.amazonaws.com/css/templatemo-style.css">

    <link rel="stylesheet" href="https://liz-blog-bucket.s3-us-west-1.amazonaws.com/css/responsive.css">

    </head>

    <body>

    <!-- <div id="video"> -->
        <!-- <div class="preloader">
            <div class="preloader-bounce">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div> -->

        <header id="header">

        </header>

        <!-- <video autoplay muted loop id="myVideo";>
          <source src="{% static 'images/liz.mp4' %}" type="video/mp4">
        </video> -->

            <img src="https://liz-blog-bucket.s3-us-west-1.amazonaws.com/elucidate.jpg" alt="James Kelly, Killin it." style="width:100%;">
            <style media="screen">
                /* Centered text */
                .centered {
                     position: absolute;
                     top: 45%;
                     left: 50%;
                     transform: translate(-50%, -50%);
                }
            </style>
<div class="welcome-box">
    <strong><a class="centered" href="/index" style="color:black;">Enter</a></strong>
</div>

    <script src="https://liz-blog-bucket.s3-us-west-1.amazonaws.com/js/jquery.js"></script>

    <script src="https://liz-blog-bucket.s3-us-west-1.amazonaws.com/js/bootstrap.min.js"></script>

    <script src="https://liz-blog-bucket.s3-us-west-1.amazonaws.com/js/fullpage.min.js"></script>

    <script src="https://liz-blog-bucket.s3-us-west-1.amazonaws.com/js/scrolloverflow.js"></script>

    <script src="https://liz-blog-bucket.s3-us-west-1.amazonaws.com/js/owl.carousel.min.js"></script>

    <script src="https://liz-blog-bucket.s3-us-west-1.amazonaws.com/js/jquery.inview.min.js"></script>

    <script src="https://liz-blog-bucket.s3-us-west-1.amazonaws.com/js/form.js"></script>

    <script src="https://liz-blog-bucket.s3-us-west-1.amazonaws.com/js/custom.js"></script>


  </body>
</html>
